<div class="container">
  <div class="row">
    <div class="col-xs-12" *ngIf="!loading; else loadingTemplate">
      <input #fileInput type="file" accept="image/*" (change)="processFile(fileInput.files)">
    </div>

    <ng-template #loadingTemplate>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>

  <div class="img-container" *ngIf="imageInput">
    <div class="row">
      <div class="img-box">
        <img #imgOutput [src]="imageInput" style="height: 300px" alt="user input image">
        <div class="rect-box" *ngIf="boxes">
          <div class="rect" *ngFor="let box of boxes"
          [style.top.px] = "box.top"
          [style.left.px] = "box.left"
          [style.height.px] = "box.height"
          [style.width.px] = "box.width"
          >
        <span class="className">{{box.classes}} {{box.scores}}%</span>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <button class=" btn btn-primary" type="button" (click)="onPredict()">Predict</button>
    </div>

    <div class="row" *ngIf="predicting">
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="row" *ngFor="let box of boxes">
      <p>{{box.classes}} is {{box.scores}}% </p>
    </div>


  </div>

</div>
<router-outlet></router-outlet>
